.NftCollectionViewer {
    display: flex; flex-direction: column;
}

.NftCollectionViewer .NavigationBack {
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 22px;
    cursor: pointer;
}

.NftCollectionViewer .NavigationBack .IconBack {
    fill: var(--color-primary);
    margin-right: 14px;
}

.NftCollectionViewer .NftModelsLabel {
    font-size: 30px; font-weight: 700;
    margin-top: 72px;
}
