.CollectionDetails .DetailsForm {
    flex-grow: 1;
}

.CollectionDetails .DetailsHolder {
    align-items: flex-start;
}

.CollectionDetails .DetailsHolder .DetailsForm .Input {
    margin-bottom: 15px;
}

.CollectionDetails .DetailsHolder .DetailsForm .MuiFormLabel-root {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-dark);
    margin-right: 10px;
}

.CollectionDetails .DetailsHolder .DetailsForm .Info {
    background-color: var(--color-gray-light);
    fill: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-dark);
    padding: 20px;
    margin-top: 30px;
}

.CollectionDetails .DetailsHolder .DetailsForm .Info .SVG {
    margin-right: 28px;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage {
    border: 2px solid var(--color-green);
    border-radius: 20px;
    padding: 20px;
    color: var(--color-dark);
    align-items: center;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage .Heading {
    font-weight: 700;
    font-size: 20px;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage .Heading .SVG {
    fill: var(--color-green);
    margin-right: 12px;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage .TransacionInfo {
    fill: var(--color-primary);
    font-weight: 600;
    font-size: 14px;
    margin-top: 19px;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage .TransacionInfo .SVG {
    margin-left: 12px;
    cursor: pointer;
}

.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage.Fail {
    border-color: var(--color-red);
}
.CollectionDetails .DetailsHolder .DetailsForm .ResultMessage.Fail .Heading .SVG {
    fill: var(--color-red);
}
