.MintWindow {
    flex-grow: 1;
}

.MintWindow .MintStepPage {
    margin-top: 40px;
    flex-grow: 1;
}

.MintWindow .MintStepPage .SmallStepSign {
    color: var(--color-primary);
    font-size: 12px; font-weight: 700;
    margin-bottom: 5px;
}

.MintWindow .StepNav {
    fill: var(--color-gray-dark);
    color: var(--color-gray-dark);
    font-weight: 600;
    font-size: 14px;
    margin-top: var(--desktop-spacing);
}

.MintWindow .StepNav span {
    margin: 0 14px;
}
