.NftDetails .NftDetailsForm {
    flex-grow: 1;
}

.NftDetails .DetailsHolder {
    align-items: flex-start;
}

.Popover {
    width: 220px;
}

.NftDetails .DetailsHolder .NftDetailsForm .Input {
    margin-bottom: 15px;
}

.NftDetails .DetailsHolder .NftDetailsForm .MuiFormLabel-root,
.NftDetails .DetailsHolder .NftDetailsForm .CheckboxComponent {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-dark);
    margin-right: 10px;
}