.NftDetails .NftDetailsForm {
    flex-grow: 1;
}

.NftDetails .DetailsHolder {
    align-items: flex-start;
}

.Popover {
    width: 220px;
}

.NftDetails .DetailsHolder .NftDetailsForm .Input {
    margin-bottom: 15px;
}

.NftDetails .DetailsHolder .NftDetailsForm .MuiFormLabel-root,
.NftDetails .DetailsHolder .NftDetailsForm .CheckboxComponent {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-dark);
    margin-right: 10px;
}

.NftDetails .CollectionModels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 30px;
    column-gap: 30px;
}

.NftDetails .CollectionModels .NftModel {
    display: flex;
    flex-direction: column;
}

.NftDetails .CollectionModels .NftModel .NftImg {
    width: 100%; height: 0;
    box-sizing: border-box;
    border: 3px solid #F6F9FE;
    padding-bottom: 100%;
    border-radius: 10px;
    margin-bottom: 13px;
    transition-property: box-shadow;
}

.NftDetails html:not(.Touchable) .CollectionModels .NftModel .NftImg:hover {
    box-shadow: 0px 3px 20px rgba(27, 32, 49, 0.3);
}

.NftDetails .CollectionModels .NftModel .NftName {
    font-size: 16px;
    font-weight: 700;
}
