.OptionChoose .OptionHolder .OptionBox {
    flex: 1 1 auto;
    border: 4px solid var(--color-gray-light-02);
    border-radius: 20px;
    padding: 30px;
    align-items: flex-start;
    cursor: pointer;
    transition-property: background-color, border-color;
}

.OptionChoose .OptionHolder .OptionBox:first-child {
    margin-right: 30px;
}

.OptionChoose .OptionHolder .OptionBox.Active {
    background: rgba(82, 166, 248, 0.1);
    border-color: var(--color-primary);
}

.OptionChoose .OptionHolder .OptionBox .SVG{
    padding: 15px;
    background: var(--color-gray-light);
    border-radius: 10px;
    margin-bottom: 10px;
}

.OptionChoose .OptionHolder .OptionBox .SvgBox {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.OptionChoose .OptionHolder .OptionBox.Active .SvgBox .SVG {
    background: #fff;
}

.OptionChoose .OptionHolder .OptionBox.Active .SvgBox .SVG.Tick {
    background: none;
    fill: var(--color-primary);
    padding: 0;
}

.OptionChoose .OptionHolder .OptionBox .OptionInfo{
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary);
}
