.Popover .MuiPopover-paper {
    font-size: 12px;
    color: var(--color-popover-text);
    border-radius: 20px;
    border: 1px solid var(--color-popover-border);
    padding: 32px;
    background: var(--color-popover-background);
    box-shadow: 0px 4px 20px var(--color-popover-shadow);
}
