.PageHome {
    --page-spacing-h: 72px;
}

header.PageHeader {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    background: transparent;
}

footer.PageFooter {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    margin-top: auto;
}

.PageHome .HomeContent {
    display: flex;
    flex: 1 1 auto;
}

.PageHome .IntroCnt {
    max-width: 520px;
    padding: var(--page-spacing-h);
}

.PageHome .IntroCnt .IntroBlockTitle {
    display: flex;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 24px;
}

.PageHome .IntroCnt .IntroBlockDesc {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 70px;
}

.PageHome .IntroCnt .ButtonStartMinting {
    padding: 0 82px;
}

.PageHome .BubblesCnt {
    flex: 1 1 auto;
    position: relative;
}

.PageHome .BubblesCnt .BubblesWrapper {
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 0; top: 0;
}

.PageHome .BubblesCnt img {
    /* width: 500px; */
    height: 50%;
    /* position: absolute; */
    /* bottom: 0; right: 0; */
}

.PageHome .BubblesCnt img:nth-child(2) {
    position: absolute;
    top: 23%;
    transform: translateX(-50%);
}
