.MintWindow {
    flex-grow: 1;
}

.MintWindow .MintStepPage{
    margin-top: 40px;
    flex-grow: 1;
}

.MintWindow .MintStepPage .SmallStepSign {
    color: var(--color-primary);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.MintWindow .StepNav {
    fill: var(--color-gray-dark);
    color: var(--color-gray-dark);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.MintWindow .StepNav .StepButton {
    cursor: pointer;
}

.MintWindow .StepNav span{
    margin: 0 14px;
}
