.NftPreview{
    width: 30%;
    margin-right: 30px;
    height: 100%;
}

.NftPreview .SquareHolder {
    height: 0;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: var(--color-gray-light);
    position: relative;
    margin-bottom: 5px;
}

.NftPreview .Center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.NftPreview .SVG {
    fill: var(--color-primary);
}
.NftPreview .NftImage {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.NftPreview .NftName {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-dark);
}
