header.PageHeader {
    padding: 16px 20px;
    background: #fff;
    border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
}

header.PageHeader .HeaderLogo {
    font-size: 20px;
}

header.PageHeader .HeaderLogo > *:not(:first-child) {
    margin-left: 8px;
}

header.PageHeader .HeaderLogo .SeparatorVLine {
    width: 1px;
    height: 16px;
    background: var(--color-dark);
}

header.PageHeader .HeaderLogo .Slogan {
    height: 18px; line-height: 18px;
    font-weight: 700;
    padding-left: 8px;
    border-left: 1px solid var(--color-dark)
}

/* header.PageHeader .HeaderEnd .NetworkLink {
    margin-right: 32px;
    font-weight: 700;
}

header.PageHeader .HeaderEnd .NetworkLink .Link {
    color: var(--color-primary);
    margin-left: 4px;
}

header.PageHeader .HeaderEnd .NetworkLink .IconOpenUrl {
    margin-left: 8px;
} */

header.PageHeader .HeaderEnd .InfoBlock {
    height: 48px;
    padding: 0 24px;
    font-weight: 600;
    border-radius: 24px;
    margin-left: 24px;
    background: var(--color-gray-light);
}


header.PageHeader .HeaderEnd .InfoBlock .SVG.Icon:not(:last-child) {
    margin-right: 24px;
}

header.PageHeader .HeaderEnd .WalletAddress {
    max-width:180px;
}

.PopoverWalletMenu {
    width: 170px;
    display: flex; flex-direction: column;
    align-items: center;
}

.PopoverWalletMenu .IconWallet {
    margin-bottom: 16px;
}

.PopoverWalletMenu .WalletAddress {
    max-width: 100%;
    font-size: 12px; font-weight: 500;
    margin-bottom: 12px;
}

.PopoverWalletMenu .WalletActions {
    margin-bottom: 22px;
}

.PopoverWalletMenu .WalletActions .IconAction {
    fill: var(--color-primary);
    margin: 0 7px;
    cursor: pointer;
}
